.container-books{
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 2rem; 
  padding-bottom: 2rem; 
}

.title{
    font-size: 55px;
    line-height: 40px;
    font-weight: 800;
    color:#1E293B;
}
.title-discover{
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: gray;
    height: 4px;
    padding-top: 13px;
}

.book-tags{
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    border-radius: 9999px; 
    font-size: 0.875rem; 
    font-weight: 500; 
    text-transform: capitalize; 
    white-space: nowrap; 
}

.books{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}


@media (min-width: 640px) {
    .container-books {
      padding-left: 1.5rem; 
      padding-right: 1.5rem; 
    }
  }
  
  @media (min-width: 1024px) {
    .container-books {
      padding-left: 2rem; 
      padding-right: 2rem;
    }
  }
/* Small screens (sm:) */
@media (min-width: 640px) {
  .books {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium screens (md:) */
@media (min-width: 768px) {
  .books {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* Large screens (lg:) */
@media (min-width: 1024px) {
  .books{
      grid-template-columns: repeat(4, 1fr);
  }
}    